body{

margin: 0;
background-image:url('test.jpg');
background-repeat: no-repeat;
background-size: 100% 100vh;

}

.login{
width:400px;
height: 170px;
background-color:rgba(21, 21, 21, 0.59);
margin: auto;
margin-top:22%;
border-radius:15px;


}

label{
color:white;
margin-left:20px;

}

.user{
border-size:0px;
border-radius:5px;
margin-bottom:15px;
margin-top:15px;
margin-left:20px;
padding-left:10px;
width: 200px;
height: 25px;
}



.pass{
border-size:0px;
border-radius:5px;
margin-bottom:15px;
padding-left:10px;
margin-left:29px;
width: 200px;
height: 25px;
}

.submit{
margin-left:150px;
width:100px;
height:30px;
margin-bottom:5px;

background-color: #2979FF;
    border: 6;
    /* border: 0px; */
    border-color: #fffefe;
    border-radius: 5px;
    color: white;
	 outline: none;
}


.submit:hover {
background-color: #4FC3F7; /* Green */
color: white;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}



span{
/*margin-left: 110px;*/
color: white;
font-family: monospace;
font-size: 14px;
}

.footer{
background-color: rgba(21, 21, 21, 0.86);
height:30px;
position:fixed;
bottom:10px;
width:75%;
left: 12.5%;
border-radius:15px;
text-align: center;
line-height: 30px;

}
a{
	color: #ff0097;

}
a:hover{
	color: white;
}